/* shared section start */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900&display=swap');

*{
    font-family: 'Mulish', sans-serif;
}

*body{
    width: 80%;
}
.text-light-gray-p{
    color: rgba(19, 19, 24, 0.70);
}

.title-text-h{
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 60px;
}
.primary-position-text{
    color: #FFF;
    /* text-align: center; */
    font-size: 1.75rem;
    font-weight: 800;
}
/* button */
.btn-primary{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 800;
    border: none;
}



/* Nav section start */
.nav>h2{
    color: #131318;
    font-size: 2rem;
    font-weight: 800;
}
.h2-more{
    color: #FF5400;
}
.nav{
    display: flex;
    align-items: center;
    padding-left: 135px;
   
}
.nav ul{
    display: flex;
    padding-left: 500px;
}
.nav ul>li{
    list-style: none;
    margin-right: 44px;
    
}
.nav ul >li >a{
    text-decoration: none;
}

/* shared section end */

/* Header section start */


.header-section{
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;  
    height:500px;
    width: 1170px;
    margin-left: 150px;
    margin-right: 150px;
    }

.header-section > h1{
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
    align-items: center;
    padding-top: 105px;

}
.header-section>p{
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    align-items: center;


}


/* header input  */
.header-section-input{
    display:flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin: 20px 160px;
    justify-content: center;
}

.input-text{
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    border: none;
    padding-left: 10px;
    
}

/* section popular tours */
.tours{
    display: flex;
    margin-top: 100px;
    margin-left: 150px;
    gap: 53px;

}
.Popular-Tours ul li{
    padding: 16px;

}
.Popular-Tours{
    text-align: left;
    width: 580px;

}


.popular-tours-img{
    width: 540px;
    height: 550px;
    border-radius: 16px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;


}
.Popular-Tours>h2{
    margin-top: 0px;
}
.Popular-Tours .btn-primary{
    margin-top: 45px;
}
/* <!-- section tours end--> */

/*section Destination start */

.section-destination{
    margin-top: 100px;
    
}
.section-destination>h2,p{
    text-align: center;
}



.destination-img-container{

    margin-left: 135px;
    margin-top: 50px;
}
/* .des-img-1st{
    position:fixed;
    display: flex;
}
.maldives{
    margin-left: -230px;
    margin-top: 20px;
} */


.des-img-1st img{
    margin-bottom: 24px;
    margin-left: 24px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
    border-radius: 16px;




}

.des-img-2nd img{
    margin-bottom: 24px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
    border-radius: 16px;
    margin-left: 24px;



}

.des-img-3rd img{
    margin-bottom: 24px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
    border-radius: 16px;
    margin-left: 24px;


}

/* Choose-section start */
.Choose-section{
    margin-top: 100px;
    gap: 24px;
}
.Choose-section>h2{
    text-align: center;

}



.card-container1{
    display: flex;
    margin-top: 48px;
    margin-left: 135px;
}
.card-container1 img{
    width: 64px;
    height: 64px;
}
.card-container1 div {
    width: 516px;
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding: 35px;
    text-align: left;
}
.card-container1 p{
    text-align: left;

}
.discaount img{
    width: 64px;
height: 64px;
}
.hotel >h4{
    font-size: 1.50rem;

}
.discaount> h4{
    font-size: 1.50rem;

}
.card-container2 div{
    width: 516px;
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding: 35px;
    text-align: left;
}
.card-container2{
    align-items: center;
    margin-top: 24px;
    margin-left: 430px;
}
.card-container2 p{
    text-align: left;

}
.map{
    margin-left: 24px;
    background: #29CEF633.20%;
    
}
.map >h4{
    font-size: 24px;

}
/* newslatter-section start*/
.section-newslatter{
    display: flex;
    margin-left: 135px;
    margin-top: 100PX;

}

.newslatter-content{
    width: 474px;
    height: 420px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding:0px 24PX 5px 24px;
    


}

.newslatter-content p{
    text-align: left;
    margin-bottom: 20px;
    
}
.newslatter-content >h4{

    font-size: 1.50rem;
    font-weight: 800;
    margin-bottom: 16px;
    margin-top: 16px;
}

.newslatter-content button{
    width: 470px;
}

/* input name-email */
.name-email{
    width: 450px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    padding: 10PX 10PX 10PX 10PX;
    margin-top: 20px;
    margin-bottom: 10px;
    border: none;
    justify-content: center;


}


/* place-section start */
.place-section{
    display: flex;
    margin-left: 135px;
    gap: 24px;
    margin-top: 100px;

}
.place-content >p{
    text-align: left;
}

.place-content>ul >li{
    color: #131318;
    font-size: 1rem;
    font-weight: 700;
    line-height: 26px;
}

.place-mountent{
    position: relative;
}

.place-mountent>h4{
    width: 276px;
    color: #FFF;
    text-align: center;
    font-size: 1.50rem;
    font-weight: 700;
    line-height: 36px;
    margin-top: -250px;
    margin-left: 170px;
    
}
/* newslatter-img  */
.newslatter-img{
    margin-left: 24PX;
    
}



.img-content{
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    border-radius: 16px;
    background: #FF5400;
    position: relative;

}

.img-content>h4{
    color: #FFF;
    text-align: center;
    font-size: 1.50rem;
    font-weight: 400;
    margin-top: 10px;
    padding-top: 15px;
    margin-bottom: 10px;
}
.img-content>h2{
    color: #FFF;
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    padding-bottom: 35px;
    align-items: center;

}
.content-hub{
    padding-left: 340px;
    margin-top: -180px;
}



.footer{
    width: 100%;
    height: 502px;
    background: rgba(19, 19, 24, 0.05);
    margin-top: 100px;


}
.footer-title{
    display: flex;
    justify-content: center;
    padding-top: 80px;
}
.footer-icon i {
    margin-top: 24px;
    margin-left: 25px;
}
.footer-icon{
    padding-left: 310px;
    padding-bottom: 30px;
}
.footer-hr-poient{
    width: 800px;
    padding-left: 400px;
}



.footer-hr-poient> p{
    margin-top: 50px;
}



.hide{
    display: none;
}



.bocking-section{
    border:1px solid #FF5400;
    border-radius: 16px;
    display: flex;
    height:500px;
    width: 1170px;
    margin-left: 145px;
    margin-right: 150px;
    margin-top: 100px;
    padding: 20px;
}

.booking-container>p{
    text-align: left;
}
.booking-img-turist img{
    height: 500px;
    width: 500px;
    margin-left: 30px;
}




@media screen and (max-width:600px) {
   

    /* *body{
        width: 100%;
    }
     */
    .tours,.card-container1,.footer-title,.place-section,.section-newslatter,.nav ,.nav>ul ,.header-section-input{
        flex-direction: column;
    }
    .header-section{
        width: 100%;
        padding: 10px;
    }
    .tours{
        margin-left: 10px;
        margin-right: 10px;
    }
    .Popular-Tours{
        padding: 20px;
    }
}


